/* Start Global Rules */
:root{
  --link_color:#262626;
  --click_color:#65AEF2;
  --main_color:#1E1E1E;
  --trans:.3s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--click_color);
  color:beige;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* Start Global Rules */
/* start header */
header {
  position: relative;
  width:100%;
  height: 658px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 52, 101, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
}
header > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height:100% ;
}
header > .one {
  animation-duration: 10s;
  animation-iteration-count: infinite;
animation-name: change-image1;
animation-timing-function: ease-in-out;
}
header > .two {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: change-image2;
  animation-timing-function: ease-in-out;
}
header > .three {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: change-image3;
  animation-timing-function: ease-in-out;
}
header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
header .container .nav-larg {
  display: flex;
  position: relative;
  top:40px;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
header .container .nav-larg a{
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 400;
  color: var(--link_color);
  text-decoration: none;
}
header .container .nav-larg a:hover {
  color: var(--click_color);
  transition-duration: var(--trans);
  cursor: pointer;
}
header .container h1 {
  max-width: 733px;
  font-size: 64px;
  font-weight: 700;
  line-height: 77.45px;
  color: white;
  position: absolute;
  bottom: 16%;
}
header .container  .span{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
header .container  .span span{
  color: white;
  width: 8px;
  height: 8px;
  font-size: 64px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .container  .span .left{
  color: white;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: change-color1;
}
header .container  .span .center{
  color: white;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: change-color2;
}
header .container  .span .right{
  color: white;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: change-color3;
}
header .container .nav-mobile {
  display: none;
}
/* start responsive */
@media (max-width: 900px) {
  header .container .nav-larg a{
    font-size: 20px;
  }
  header .container h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  header{
    height: 100%;
    min-height: 350px;
  }
  header .container .nav-mobile {
    display: block;
  }
  header .container .nav-mobile .icon {
    position: absolute;
    left: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
  }
  header .container .nav-mobile .icon img {
    width: 100%;
  }
  header .container .nav-mobile .left {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 10px;
    right: -40px;
  }
  header .container .nav-mobile .span2 {
    width: 30px;
    height: auto;
    position: absolute;
    top:10px;
    right: -25px;
    display: flex;
    flex-direction: column ;
    gap: 2px;
  }
  header .container .nav-mobile .span2 span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
header .container .nav-mobile .span2:hover  span{
  background-color: var(--click_color);
  transition-duration: .5s;
}
  header .container .nav-mobile .left .links {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top:20px;
    background-color: beige;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding: 10px;
    border: 2px solid burlywood;
    height: 320px;
}
header .container .nav-mobile .left .links a {
  text-decoration: none;
  display: inline-block;
  color: var(--link_color);
  font-weight: 500;
  margin-bottom: 35px;
}
header .container .nav-mobile .left .links a:hover{
  padding-left: 5px;
  transition-duration: .5s;
  color: var(--click_color);
}
  header .container .span , header .container h1, header .container .nav-larg{
    display: none;
  }
}
@keyframes change-image1 {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  20% {
    display: block;
  }
  30% {
    display: block;
  }
  40% {
    display: none;
  }
  50% {
    display: none;
  }
  60% {
    display: none;
  }
  70% {
    display: none;
  }
  80% {
    display: none;
  }
  90% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes change-image2 {
  0% {
    display: none;
  }
  10% {
    display: none;
  }
  20% {
    display: none;
  }
  30% {
    display: none;
  }
  40% {
    display: block;
  }
  50% {
    display: block;
  }
  60% {
    display: block;
  }
  70% {
    display: none;
  }
  80% {
    display: none;
  }
  90% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes change-image3 {
  0% {
    display: none;
  }
  10% {
    display: none;
  }
  20% {
    display: none;
  }
  30% {
    display: none;
  }
  40% {
    display: none;
  }
  50% {
    display: none;
  }
  60% {
    display: none;
  }
  70% {
    display: block;
  }
  80% {
    display: block;
  }
  90% {
    display: block;
  }
  100% {
    display: none;
  }
}
@keyframes change-color1 {
  0% {
    color: var(--click_color);
  }
  10% {
    color: var(--click_color);
  }
  20% {
    color: var(--click_color);
  }
  30% {
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    color: white;
  }
  60% {
    color: white;
  }
  70% {
    color: white;
  }
  80% {
    color: white;
  }
  90% {
    color: white;
  }
  100% {
    color: white;
  }
}
@keyframes change-color2 {
  0% {
    color: white;
  }
  10% {
    color: white;
  }
  20% {
    color: white;
  }
  30% {
    color: white;
  }
  40% {
    color: var(--click_color);
  }
  50% {
    color: var(--click_color);
  }
  60% {
    color: var(--click_color);
  }
  70% {
    color: white;
  }
  80% {
    color: white;
  }
  90% {
    color: white;
  }
  100% {
    color: white;
  }
}
@keyframes change-color3 {
  0% {
    color: white;
  }
  10% {
    color: white;
  }
  20% {
    color: white;
  }
  30% {
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    color: white;
  }
  60% {
    color: white;
  }
  70% {
    color: var(--click_color);
  }
  80% {
    color: var(--click_color);
  }
  90% {
    color: var(--click_color);
  }
  100% {
    color: white;
  }
}
/* end responsive */
/* end header */
/* Start Main */
/* Start Book Room */
main .section1 .container{
  display: flex;
  gap: 8px;
  background-color:#E9F3F6;
  margin: 75px auto;
  border-radius: 42px;
  justify-items: left;
  padding:75px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  flex-direction: column;
}
main .section1 .container .under {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .section1 .container .data{
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
main .section1 .container .book{
  width: 270px;
  height: 67px;
  gap: 9px;
  align-self: center;
  text-align: center;
}
main .section1 .container .book h3{
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
}
main .section1 .container .book p{
  color: #5E5E5E;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
}
main .section1 .container .date h4 ,main .section1 .container .person h4{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  margin-bottom: 10px;
}
main .section1 .container .under .date div{
  width: 265px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
main .section1 .container .date .data:hover :last-child {
  display: inline;
}
main .section1 .container .date :nth-child(2), main .section1 .container .person label, main .section1{
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  color: var(--main_color);
}
main .section1 .container .date .data:hover :nth-child(2) {
  display: none;
}
main .section1 .container .date div input{
  display: none;
  color: var(--click_color);
  padding: 5px;
}
main .section1 .container .person select{
  border: none;
}
main .section1 .container .person .data{
  width: 350px;
  padding-left: 15px;
}
main .section1 .container .person .data div{
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .section1 .container .person .data .adult{
  width: 153.28px;
}
main .section1 .container .person .data .children{
  width: 169px;
} 
main .section1 .container .now{
  width: 201px;
  height: 60px;
  background-color: var(--click_color);
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  border: none;
  cursor: pointer;
}
main .section1 .container .now:hover {
  color: #65AEF2;
  background-color: white;
}
/* start responsive */
@media(max-width:1250px){
  main .section1 .container .under {
    gap: 50px;
    justify-content: center;
  }
}
@media(max-width:768px){
  main .section1 .container .under .person .data ,   main .section1 .container .under .date .data{
    flex-direction: column;
    width: auto ;
    padding: 20px;
    gap: 10px;
    height: auto;
  }
}
@media (max-width:420px) {
  main .section1 .container .under .date .data{
    text-align: center;
  }
}
/* end responsive */
/* End Book */
/* Start Images */
main .section2{
  background-color: #F3F3F3;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
main .section2:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
main .section2 .container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 25px;
  height: 860px;
  padding: 30px 0px;
} 
main .section2 .container .rooms{
  grid-row: span 2;
  background-image: url("../Image/Rooms.png");
  background-size:cover;
  }
main .section2 .container .Dining{
  background-image: url("../Image/dining.png");
  background-size:cover;
}
main .section2 .container .meetings{
  background-image: url("../Image/Conferences.png");
  background-size:cover;
}
main .section2 .container .Service{
  background-image: url("../Image/Service.png");
  background-size:cover;
}
main .section2 .container .wedding{
  background-image: url("../Image/Wedding.png");
  background-size:cover;
}
main .section2 .container .item{
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 150px;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  font-weight: 700;
  font-size: 30px;
  opacity: .5;
}
main .section2 .container .item:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition-duration: .5s;
  transition-timing-function: ease-out;
  opacity: 1;
}
main .section2 .container .meetings{
  font-size: 22px;
}
/* start responsive */
@media(max-width:900px){
  main .section2 .container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 25px;
    height: auto;
    padding: 30px 0px;
  }
  main .section2 .container .rooms,main .section2 .container .Dining ,main .section2 .container .meetings,main .section2 .container .Service,main .section2 .container .wedding{
    height: 300px;
  }
}
/* end responsive */
/* End Images */
/* Start Cards */
.section3 .container{
  height: auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  margin: 75px auto;
}
.section3 .container .up{
  display: flex;
  justify-content: space-between;
  height: 234px;
}
.section3 .container .up .details {
  width: 742px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3 .container .up .details h4{
  width: 216px;
  height: 39px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  color: var(--click_color);
}
.section3 .container .up .details h1 {
  width: 712px;
  height: 77px;
  font-weight: 500;
  font-size: 64px;
  line-height: 77.45px;
}
.section3 .container .up .details p {
  width: 742px;
  height: 58px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
  color: var(--main_color);
}
.section3 .container .up .view {
  width: 123px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
  color: var(--click_color);
}
.section3 .container .up .view:hover {
  color: aqua;
  cursor: pointer;
}
.section3 .container .cards {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(1 , 1fr);
  column-gap: 30px;
}
.section3 .container .cards .card {
  box-shadow: 0px 4px 60px 0px #00346540;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.section3 .container .cards .card:hover {
  scale: 1.1;
  transition-duration: 1s;
}
.section3 .container .cards .card:hover h4 {
  color: var(--click_color);
}
.section3 .container .cards .card .i {
  width: 360px;
  height: 280px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.section3 .container .cards .card .undercard {
  display: flex;
  flex-direction: column;
  height: 113.5px;
  justify-content: space-evenly;
}
.section3 .container .cards .card .undercard h6 {
  width: 38px;
  height: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.52px;
  color:#5E5E5E;
}
.section3 .container .cards .card .undercard .nameroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section3 .container .cards .card .undercard .nameroom h5 {
  width: 193px;
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
  color: var(--main_color);
}
.section3 .container .cards .card .undercard .nameroom .nperson {
  display: flex;
  width: 30.19px;
  height: 20px;
  color: var(--main_color);
  justify-content: space-between;
}
.section3 .container .cards .card .undercard .nameroom .nperson img {
  width: 12.19px;
  height: 16px;
}
.section3 .container .cards .card .undercard .nameroom .nperson p {
  width: 10px;
  height: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height:19.36px;
}
.section3 .container .cards .card .undercard :nth-child(3) {
  width: 359px;
  height: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #5E5E5E;
}
.section3 .container .cards .card h4 {
  height: 113.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  color: var(--main_color);
}
.section3 .container .cards .card h4 small {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  padding: 15px 0 0 5px;
}
/* start responsive */
@media(max-width:1300px){
  .section3 .container .up .details {
    height: 100px;
    width: auto;
  }
  .section3 .container .up .details h1 {
    font-size: 25px;
    width: auto;
  }
  .section3 .container .up .details p {
    font-size: 25px;
    width: auto;
  }
  .section3 .container .up .view {
    display: none;
  }
  .section3 .container .cards {
    grid-template-columns: repeat(1,400px);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    gap: 50px;
  }
}
@media(max-width:767px){
  .section3 .container .cards .card {
    scale: .9;
  }
  .section3 .container .cards .card:hover {
    scale: 1;
  }
  .section3 .container .cards {
    margin-top: 30px;
  }
}
@media(max-width:420px){
  .section3 .container .cards .card {
    scale: .8;
  }
  .section3 .container .cards .card:hover {
    scale: .9;
  }
  .section3 .container .cards {
    margin-top: 20px;
    gap:0px;
  }
}
/* end responsive */
/* End Cards */
/* End main */
/* Start footer */
footer {
  background-color: var(--main_color);
  padding: 50px 0px 25px 0px;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
footer .container .up {
  display: flex;
  justify-content: space-between;
}
footer .container .up .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
footer .container .up .left h5 {
  font-size: 36px;
  font-weight: 500;
  line-height: 43.57px;
  color: white;
}
footer .container .up .left form {
  width: 600px;
  height: 80px;
  display: flex;
}
footer .container .up .left form input:first-child {
  width: 430px;
  height: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  text-indent: 50px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
  color: var(--click_color);
}
footer .container .up .left form input:last-child {
  width: 170px;
  height: 100%;
  outline: none;
  border: none;
  background-color: var(--click_color);
  color: white;
  border-radius: 0px 12px 12px 0px;
  -webkit-border-radius: 0px 12px 12px 0px;
  -moz-border-radius: 0px 12px 12px 0px;
  -ms-border-radius: 0px 12px 12px 0px;
  -o-border-radius: 0px 12px 12px 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
}
footer .container .up .left form input:last-child:hover {
  color: var(--click_color);
  background-color:whitesmoke;
  cursor: pointer;
}
footer .container .up .right {
  width: 502px;
  height: 248px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}
footer .container .up .right a {
  align-self: center;
}
footer .container .up .right .contact-info {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 25px;
}
footer .container .up .right .contact-info p {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
footer .container .up .right .contact-info p:hover {
  color: var(--click_color);
  cursor: pointer;
}
footer .container .bottom {
  width: 450px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
footer .container .bottom hr {
  border: 1px solid #434343;
}
footer .container .bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: white;
}
footer .container .bottom p a {
  text-decoration: none;
  color: var(--click_color);
}
footer .container .bottom p a:hover {
  color: aqua;
}
/* start responsive */
@media(max-width:1300px){
  footer .container .up .left h5 {
    font-size: 24px;
  }
  footer .container .up .left form {
    width: 400px;
    margin-right: 25px;
  }
  footer .container .up .left form input:first-child {
    font-size: 22px;
  }
  footer .container .up .left form input:last-child {
    font-size: 18px;
  }
  footer .container {
    gap: 100px;
  }
}
@media(max-width:900px){
  footer .container .up .left h5 {
    font-size: 20px;
  }
  footer .container .up .left form {
    width: 320px;
    margin-right: 25px;
  }
  footer .container .up .left form input:first-child {
    font-size: 16px;
  }
  footer .container .up .left form input:last-child {
    font-size: 18px;
  }
  footer .container {
    gap: 100px;
  }
}
  @media(max-width:767px){
    footer .container .up {
      flex-direction: column-reverse;
      align-items: center;
      gap: 50px;
    }
    footer .container {
      gap: 25px;
    }
    footer .container .up .left h5 {
      font-size: 18px;
    }
    footer .container .up .right {
      width: 360px;
      height: 248px;
      text-align: center;
    }
    footer .container .bottom {
      width: 320px;
    }
    footer .container .bottom p {
      font-size: 12px;
    }
  }
/* end responsive */
/* End footer */